<div class="text-neutral-800 dark:text-neutral-100">
    {{ with .Params.audio_url }}
    <div class="mb-2">
        <h3 class="mt-0 text-lg">🎧 Listen as a podcast</h3>
        <div class="flex">
        <audio controls src="{{ . }}">
            Your browser does not support the audio element.
        </audio>
        </div>
    </div>
    {{ end }}
    {{ with .Params.video_url }}
    <!-- <details class="-ms-5 mt-6 mb-6 rounded-lg ps-5">
        <summary
            class="block cursor-pointer py-1 text-lg font-semibold text-neutral-800 dark:text-neutral-100"
        >
            Watch key points
        </summary>
        <div class="py-2 dark:border-neutral-600">
            <video controls src="{{ . }}" class="w-full max-w-full border border-gray-400 p-2 box-border">
                Your browser does not support the video tag.
            </video>
        </div>
    </details> -->
    {{ end }}
    {{ with .Params.download_url }}
    <div class="mb-2">
        <h3 class="mt-0 text-lg">Download</h3>
        <div class="flex">
        <a href="{{ . }}"></a>
        </div>
    </div>
    {{ end }}
</div>
